/*  od ruba do ruba :D */

/*.entry-content{
	margin: 0;
    padding: 0;
}*/


#primary.content-area{
	margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#content.site-content.wrap{
	margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

